@font-face {
  font-family: 'CHNOPixelCodePro';
  src: url('../public/fonts/CHNOPixelCodePro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, * {
  font-family: 'CHNOPixelCodePro', monospace !important;
}

@tailwind base;

@tailwind components;

@tailwind utilities;